<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen" />

    <script src="https://kit.fontawesome.com/59c20db7cc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/productAuto.js}"></script>
</head>

<body th:fragment="top">
<div class="nav-top">
    <div class="w">
        <div class="user-info">
            <span th:if="${session.loginAccount == null}">
                <a th:href="@{/signOnForm}" class="link">Sign On</a>
            </span>

            <div th:if="${session.loginAccount != null}" style="display: inline;">
                <span class="link-text">
                    Welcome，<span class="username" th:text="${session.loginAccount.username}">User</span>
                </span>
                <a th:href="@{/signOut}" class="link">Sign Out</a>
            </div>
        </div>

        <ul class="nav-top-list">
            <li class="nav-top-item">
                <a th:href="@{/cartForm}" class="link">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
            </li>

            <th:block th:if="${session.loginAccount != null}">
                <li class="nav-top-item">
                    <a th:href="@{/listOrders}" class="link">My Orders</a>
                </li>
                <li class="nav-top-item">
                    <a th:href="@{/profileForm}" class="link">My Account</a>
                </li>
            </th:block>

            <li class="nav-top-item">
                <a th:href="@{/help.html}" class="link">?</a>
            </li>
        </ul>
    </div>
</div>

<div class="nav-search">
    <div class="w">
        <div id="logo">
            <a th:href="@{/catalog/main}"><img th:src="@{/images/logo-topbar.gif}" /></a>
        </div>
        <div class="search-content">
            <div id="Search">
                <div id="SearchContent">
                    <div class="search-wrapper">
                        <form th:action="@{/catalog/search}" method="post" onsubmit="return checkSearch();">
                            <input type="text" name="keyword" size="14" id="keyword" class="search-input" />
                            <button type="submit" class="btn search-btn">Search</button>
                        </form>
                        <div id="productAutoComplete">
                            <ul id="productAutoList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="crumb">
    <div class="w">
        <div id="QuickLinks">
            <a th:href="@{/catalog/category(categoryId='FISH')}"
               onmouseover="showCategory(this, 'FISH')" onmouseout="hideCategory()">
                <img th:src="@{/images/sm_fish.gif}" />
            </a>
            <img th:src="@{/images/separator.gif}" />

            <a th:href="@{/catalog/category(categoryId='DOGS')}"
               onmouseover="showCategory(this, 'DOGS')" onmouseout="hideCategory()">
                <img th:src="@{/images/sm_dogs.gif}" />
            </a>
            <img th:src="@{/images/separator.gif}" />

            <a th:href="@{/catalog/category(categoryId='REPTILES')}"
               onmouseover="showCategory(this, 'REPTILES')" onmouseout="hideCategory()">
                <img th:src="@{/images/sm_reptiles.gif}" />
            </a>
            <img th:src="@{/images/separator.gif}" />

            <a th:href="@{/catalog/category(categoryId='CATS')}"
               onmouseover="showCategory(this, 'CATS')" onmouseout="hideCategory()">
                <img th:src="@{/images/sm_cats.gif}" />
            </a>
            <img th:src="@{/images/separator.gif}" />

            <a th:href="@{/catalog/category(categoryId='BIRDS')}"
               onmouseover="showCategory(this, 'BIRDS')" onmouseout="hideCategory()">
                <img th:src="@{/images/sm_birds.gif}" />
            </a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /* Thymeleaf 获取 contextPath 的优雅方式 */
    var contextPath = /*[[@{/}]]*/ '';
</script>

<script type="text/javascript" th:src="@{/js/menu.js}"></script>

<div id="Content">
    <div class="w w1">
        <div th:if="${session.updateMsg != null}"
             style="background-color:#e6ffe6; color:#006600; font-weight:bold; padding:8px; border-radius:6px; margin:10px 0; text-align:center;"
             th:text="${session.updateMsg}">
        </div>
