<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Order</title>
    <link rel="StyleSheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div class="w w1">
        <div id="BackLink">
            <a href="/catalog/index">Return to Main Menu</a>
        </div>
        <div id="Catalog">
            <h2>My Orders</h2>

            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Price</th>
                </tr>

                <!--                <c:forEach var="order" items="${orderList}">-->
                <!--                    <tr>-->
                <!--                        <td><a href="viewOrder?orderId=${order.orderId}">${order.orderId}</a></td>-->
                <!--                        <td><fmt:formatDate value="${order.orderDate}" pattern="yyyy-MM-dd" /></td>-->
                <!--                        <td>${order.totalPrice}</td>-->
                <!--                    </tr>-->
                <!--                </c:forEach>-->
                <tr th:each="order : ${orderList}">
                    <td><a th:href="'/order/viewOrder?orderId='+${order.orderId}" th:text="${order.orderId}"></a></td>
                    <td><span th:text="${order.orderDate}"></span></td>
                    <td><span th:text="${order.totalPrice}"></span></td>
                </tr>
            </table>
        </div>

    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>