<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="myList">
    <div th:if="${not #lists.isEmpty(session.myList)}">
        <p>Pet Favorites <br />
            Shop for more of your favorite pets here.</p>
        <ul>
            <li th:each="product : ${session.myList}">
                <a th:href="@{/productForm(productId=${product.productId})}" th:text="${product.name}">Product Name</a>
                (<span th:text="${product.productId}">P1</span>)
            </li>
        </ul>
    </div>
</th:block>

</body>
</html>
