<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/top :: head}"></th:block>
</head>
<body>

<div th:replace="~{common/top :: top}"></div>

<div id="Catalog">
    <form th:action="@{/signOn}" method="post" id="loginForm">
        <p>Please enter your username and password.</p>

        <p id="messageBox">
            <font color="red" th:text="${signOnMsg}"></font>
        </p>

        <p>
            Username: <input type="text" name="username" id="username"> <br />
            Password: <input type="password" name="password" id="password"/>
        </p>
        <input type="button" id="loginBtn" value="Login">
    </form>

    <p>
        Need a user name and password?
        <a th:href="@{/registerForm}">Register Now!</a>
    </p>

    <p>
        Or login with email verification code?
        <a th:href="@{/signOnCodeForm}">Login with code</a>
    </p>
</div>

</div> </div>     <div th:replace="~{common/bottom :: bottom}"></div>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script>
    $(function() {
        $("#loginBtn").click(function() {
            var username = $("#username").val();
            var password = $("#password").val();

            if(username === "" || password === "") {
                $("#messageBox").find("font").text("用户名和密码不能为空");
                return;
            }
            $("#loginForm").submit();
        });
    });
</script>
</body>
</html>