<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.jpetstore.mapper.LogMapper">

    <insert id="insertLog" parameterType="com.csu.jpetstore.domain.LogData">
        INSERT INTO log_data (session_id, user_id, action_type, target_type, target_id, details, create_time)
        VALUES (#{sessionId}, #{userId}, #{actionType}, #{targetType}, #{targetId}, 
                #{detailsJson}, NOW())
    </insert>

</mapper>
